<div class="container mt-3">
  <div class="sign-form shadow p-4 mb-5 bg-body rounded">
    <main class="form-signin w-100 m-auto">
      <h2 class="h3 mb-3 fw-normal text-center">Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: 'w-100 btn btn-lg btn-primary' %>
      </div>
      <% end %>
    </main>

    <%= render "devise/shared/links" %>
  </div>
</div>